.centerer {
  display: block;
  text-align: center;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Georgia;
  line-height: 1.5;
  color: #666;
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab';
  padding-top: 50px;
  text-align: center;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h3 {
  font-size: 1.5rem;
}
a {
  color: #222;
}
p a,
ol a,
ul a {
  color: #f67070;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #f67070;
  color: #fff;
  font-family: 'Roboto Slab';
  font-weight: 300;
  padding-top: 40px;
  overflow-y: scroll;
}
nav a {
  color: #fff;
  display: block;
  padding: 8px 30px;
  font-size: 1rem;
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.2s;
}
nav a:hover,
nav a:active,
nav a.active {
  transition: all 0s;
  opacity: 1;
  background: #d65252;
}
#content {
  width: 70%;
  padding: 60px;
  position: relative;
}
#column {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
#logo {
  display: inline-block;
  width: 260px;
}
#logo img {
  display: block;
  width: 100%;
}
table.routes {
  width: 100%;
  border-collapse: collapse;
}
table.routes tr {
  border-top: 1px solid #ccc;
}
table.routes tr:first-child {
  border-top: none;
}
table.routes th,
table.routes td {
  text-align: left;
  line-height: 1.8;
}
table.routes th:first-child:after,
table.routes td:first-child:after {
  display: block;
  float: right;
  margin-right: 20px;
  content: "→";
  text-align: right;
  opacity: 0.5;
}
